h1, h2, p, span, h3 {
    /*color: #6C412C;*/
}

.datos {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.datos ul {
    display: flex;
    gap: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.datos p {
    font-size: 20px;
    line-height: 25px;
}

.hero-img {
    display: flex;
    align-items: flex-start;
}

.hero-img img {
    width: 7%;
    margin-left: 30px;
    margin-top: 20px;
}

.contenedor-1 {
    display: flex;
    padding-top: 20px;
    /*margin-top: -50px;*/
    width: 90%;
    margin: -70px auto 0 auto;
}

.contenedor-1 > div:nth-child(1) {
    width: 20%;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;

}

.contenedor-1 > div:nth-child(1) img {
    width: 70%;
}

.contenedor-1 > div:nth-child(1) p {
    font-weight: 800;
}

.contenedor-1 > div:nth-child(2) {
    width: 70%;
}

.contenedor-1 > div:nth-child(3) {
    width: 10%;
}

.contenedor-1 > div:nth-child(3) img {
    width: 100%;
}

.titulo-1 {
    text-align: center;
    z-index: 5;
}

.titulo-1 h1 {
    color: #f43a1b;
    text-transform: uppercase;
    font-size: clamp(1rem, 15vw, 300px);
    /*font-size: 300px;*/
    /*letter-spacing: -20px;*/
}

.titulo-1 h1 span {
    display: block;
    padding: 0;
    font-weight: 900 !important;
}

.titulo-1 h1 span:nth-child(2) {
    /*margin-top: -85px;*/
}


.titulo {
    font-size: 25px;
    margin-bottom: 5px;
}

.scree-web {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}

#de-que-trata {
    position: relative;
}

#de-que-trata h2 {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    color: #f43a1b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 100px;
}


#section-3 {
    /*padding: 70px;*/
}

#section-3 img {
}

.section-3 {
    padding: 10px;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.asesoramiento, .direccion {
    width: 45%;
}

.asesoramiento h2, .direccion h2 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -7px;
    font-size: 40px;
}

.asesoramiento img {
    width: 50%;
}

.direccion {
    text-align: center;
}

.consultoria-diseno {
    display: flex;
    flex-wrap: wrap;
}

.consultoria-diseno > div {
    width: 32.5%;
}

.consultoria h2, .diseno h2 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -7px;
    font-size: 40px;
}

.titulo-estudiocreativo h2 {
    color: #f43a1b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    letter-spacing: -5px;
    /*poner estrella de fondo */
}

.titulo-estudiocreativo h2 span {
    display: block;
}


.consultoria, .diseno {
    padding-top: 30px;
}

section {
    display: block;
    width: 75%;
    margin: auto;
}



#section-4 {
    padding: 20px;
}

.section-4 {
    display: flex;
    flex-wrap: wrap;
}

.section-4 > div {
    width: 32.5%;
}

.section-4 > div:nth-child(1) img {
    width: 60%;
}

.section-4 > div:nth-child(3) {
    text-align: center;
}

.section-4 > div:nth-child(3) img {
    width: 60%;
}

.produccion h2, .desarrollo h2 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -7px;
    font-size: 40px;
}

.desarrollo h2 {
    line-height: 35px;
    margin-bottom: 10px;
}

.titulo-4 {
    padding-top: 100px;
}

#section-5, #section-6-1, #section-7 {
    background: #000000;
}

.section-5 {
    padding: 20px;
}

.titulo-wireframe {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: flex-end;
}

.contenedor-h2 {
}

.contenedor-h2 h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    /*font-size: 180px;*/
    font-size: clamp(2rem, 8vw, 150px);
    display: inline-block;

}


.contenedor-p  {
    transform: rotate(90deg);
    display: block;
    margin-top: 80px;

}

.contenedor-p p {
    font-size: 50px;
    color: #f43a1b;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    /*position: absolute;*/
    /*left: 0;*/
}


.wireframe-img {
    display: flex;
    gap: 0 30px;
    height: 600px;
}

.wireframe-img img {
    height: 80%;
    object-fit: cover;
    width: 100%;

}

.wireframe-img p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 150px;
}

#section-6, #section6 {
    padding: 20px;
    width: 80%;
    margin: auto;
}

.section-6 {
    display: flex;
    gap: 0 20px;
}

.titulo-movile {
    display: block;
    width: 130px;
}

.titulo-movile h2 {
    color: #FFFFFF;
    rotate: -90deg;
    margin-top: 720px;
    text-transform: uppercase;
    font-size: 120px;
    display: block;
    padding: 0 -20px;
    font-weight: 900;
}

.subtitulo-movile {
    text-align: center;
}

.subtitulo-movile h2 {
    color: #f43a1b;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 900;
}

.subtitulo-movile p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.wireframe-mobile-img {
    height: 900px;

}

.wireframe-mobile-img img {
    height: 100%;
}


.link-ver-pagina {
    position: relative;
    /*display: inline-block;*/
    height: 100%;

}

.link-ver-pagina a {
    color: #f43a1b;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}